E:\cmake-3.16.0-rc3-win64-x64\bin\cmake.exe .. \
-G "Unix Makefiles" \
-DCMAKE_TOOLCHAIN_FILE=E:/android-ndk-r21d/build/cmake/android.toolchain.cmake \
-DCMAKE_MAKE_PROGRAM=E:/android-ndk-r21d/prebuilt/windows-x86_64/bin/make.exe \
-DCMAKE_BUILD_TYPE=Debug \
-DANDROID_ABI=arm64-v8a \
-DANDROID_PLATFORM=android-21 \
-DCOMMON_LIBRARY_DIRS=C:/Users/Glasssix-ZYF/source/repos/Excalibur/cmake/build/lib;C:/Users/Glasssix-ZYF/source/repos/AlgorithmZoo/cmake/build/lib \
#-DJNI_INCLUDE_DIRS=xxx(WITH_JNI=ON时非调用android.toolchain.cmake需设置)